In [12]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
stats_df = pd.read_excel("nba_2021_22.xlsx")
stats_df.head()

,TEAM,PLAYOFFS,AGE,W,L,FG,FGA,FG RATE,3P,3PA,...,OFF ORB,OFF FT/FGA,DEF EFG,DEF TOV,DEF DRB,DEF FT/FGA,DIST,LAYUP FREQ,CORNER FREQ,CORNER RATE
0,Atlanta Hawks,1,26.1,43,39,41.5,88.3,0.470,12.9,34.4,...,23.0,0.205,0.543,11.5,76.9,0.177,14.5,0.293,0.221,0.426
1,Boston Celtics,2,26.1,51,31,40.7,87.4,0.466,13.2,37.1,...,24.0,0.195,0.502,12.5,77.3,0.183,14.8,0.334,0.231,0.389
2,Brooklyn Nets,1,29.1,44,38,42.0,88.4,0.475,11.5,31.7,...,23.9,0.198,0.521,11.7,75.1,0.201,13.9,0.304,0.235,0.393
3,Charlotte Hornets,0,25.5,43,39,42.8,91.4,0.468,13.9,38.2,...,23.3,0.173,0.544,13.1,74.8,0.187,13.8,0.297,0.273,0.418
4,Chicago Bulls,1,26.3,46,36,41.7,86.9,0.480,10.6,28.8,...,20.4,0.201,0.541,11.9,78.3,0.199,13.9,0.364,0.287,0.372

In [13]:
d = {0 : 'Missed Playoffs', 1 : 'Made Playoffs', 2 : 'Made Final Four', 3 : 'Won Finals'}
stats_df['PLAYOFFS'] = stats_df['PLAYOFFS'].map(d)
stats_df.to_excel('nba_2021_22_2.xlsx')